body {
  margin: 0;
}
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}
.api-inner-div {
  margin: 1em 0;
  color: white;
  text-align: center;
  background-color: #454f5f;
  border-radius: 40px 40px 20px 20px;
  padding: 0.75em;
  padding-bottom: 1em;
  padding-top: 0;
}
.api-inner-div h2 {
  font-weight: 800;
  font-size: 1.125em;
  background-color: beige;
  color: #404040;
  border-radius: 200px;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  margin-top: 2em;
}
#post-text-area {
  margin-top: 1em;
  resize: none;
  height: 6em;
}
.form-inputs {
  width: 100%;
  outline: 0;
  padding: 1em;
  font-family: inherit;
  border-radius: 1em;
}
#form-submit-btn {
  outline: beige 0px solid;
  scale: 100%;
  transition: outline 0.2s, scale 0.1s;
}
#form-submit-btn:hover {
  outline: beige 4px solid;
}
#form-submit-btn:active {
  scale: 98%;
}
.form {
  border-radius: 20px;
}
